@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;

}

/* =============  Scrollbar  ============= */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: white;
}


header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 1rem rgb(227, 227, 227);
}

header img {
  width: 10vw;
  height: auto;
}

header h2 {
  color: #ffffff;
  padding-right: 1%;
}
header nav {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .links a{
  border: 1px solid #333;
  padding: 0.8rem 1.2rem ;
  border-radius: 4px;
  font-size: 0.9rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #333;
  transition: 0.3s all ease-in-out;
}
header nav .links a:hover {
  box-shadow: 0 0.2rem 1rem rgb(201, 201, 201);

}
header nav .links a:nth-child(2), header nav .links a:nth-child(3) {
  margin-left: 0.5rem;
}




.copy_div {
  width: 100vw;
  height: 10vh;
  z-index: 9999;
  justify-content: center;
  display: flex;
  position: fixed;
  visibility: hidden;
}
.copy_div h3#code {
  display: none;
}

.copy_div .copy_msg {
  position: fixed;
  top: 20vh;
  z-index: 9999;
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.495);
  background-color: #fff;
  padding: 0.8rem 1.6rem ;
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  border-radius: 5px;
  
}
.copy_div .copy_msg p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}



.container {
  display: flex;
  justify-content: center;
}

.container .palettes  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1300px;

}



.container .palettes .box {
  /* margin-bottom: 5rem; */
  padding: 6rem 10rem;
  border-radius: 10px;
  transition: 350ms;
  cursor: pointer;
  margin: 1.5rem;
  border: 1rem solid #fff;
  box-shadow: 0px 0px 20px rgb(222, 222, 222);
}

.container .palettes .box:hover {
  transform: scaleY(1.1);
  box-shadow: 0px 20px 25px rgb(194, 194, 194);
}



/* @media all and (max-width: 850px) {
  header img {
    width: 15vw;
    height: auto;
  }
}

@media all and (max-width: 600px) {

  .container .palettes {
    display: flex;
  }

}

@media all and (max-width: 450px) {
  header {
    padding: 3% 3%;
  }
  header img {
    width: 17vw;
    height: auto;
  }

} */







